<% projectId ||= '' %>

<%= simple_form_for(@task, remote: true, html:{id: 'tasks_form'}) do |f| %>
<%= f.error_notification %>

<div class="form-inputs row">
  <div class="col-xs-3">
    <%= f.input :title %>
  </div>
  <div class="col-xs-8">
    <%= f.input :description %>
  </div>
</div>

<div class="form-inputs row">
  <div class="col-xs-3">
    <%= f.input :importance, collection: [['Normal',1],['Medio',2],['Alta',3]], label_method: :first, value_method: :last, selected: 1 %>
  </div>
  <div class="col-xs-8">
    <%= f.input :end_task, as: :date_time_picker %>
  </div>  

</div> 

<div class="form-inputs row">
  <div class="col-xs-3">
    <%= f.association :project, selected: projectId %>  
  </div>
  <div class="col-xs-8">
    <%= f.input :remember_me %>
  </div>
</div>

<div class="form-actions">
  <%= f.button :submit,"Guardar", class:"btn-success" %>
</div>
<% end %>

<script>
  $(".form_datetime").datetimepicker({
    format: "dd MM yyyy - hh:ii",
    autoclose: true,
    todayBtn: true,
    minuteStep: 30
  });
</script>
