<div class="card text-xs-center">
	<div class="card-header bg-primary text-white">
		<%= task_importance(task) %> | <%= check_state(task) %>
	</div>
	<div class="card-block">
		<h4 class="card-title"><%= task.title %></h4>
		<p class="card-text"><%= task.description %></p>
		<p class="card-text text-xs-left">
			<b>Finaliza: </b><%= human_date(task.end_task) %>
		</p>
	</div>
	<div class="card-footer">
		<%= link_to "Editar", task, class:"btn btn-secondary" %> 
		<!-- Button to task actions -->
		<div class="btn-group">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Acciones
			</button>
			<div class="dropdown-menu">
				<h6 class="dropdown-header">Marcar tarea como:</h6>
				<a class="dropdown-item" href="#">Completada</a>
				<a class="dropdown-item" href="#">Aplazada</a>
				<a class="dropdown-item" href="#">Ignorada</a>
			</div>
		</div>
	</div>
</div>
