<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @record.action %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @record.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @record.time_end %>
</p>

<p>
  <strong>User:</strong>
  <%= @record.user %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
