<%= simple_form_for(@project) do |f| %>
<%= f.error_notification %>

<div class="form-inputs" style="max-width: 245px;">
	<%= f.input :title, label:"Título" %>
</div>
<div class="form-inputs">
	<%= f.input :description, label:"Descripción" %>
</div>

<div class="form-actions  text-xs-center">
	<%= f.button :submit, "Crear Proyecto", class:"btn btn-success" %>
</div>
<br>
<% end %>
