<!DOCTYPE html>
<html>
<head>
	<title>Mejora</title>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
	<nav class="navbar navbar-light bg-faded navbar-fixed-top">
		<a href="javascript:;" class="toggle navbar-brand" id="sidenav-toggle">
			<span class="fa fa-bars" aria-hidden="true"></span>
		</a>
	</nav>

	<!-- Navigation bar -->
	<nav class="sidenav" style="margin-top: 50px;" data-sidenav data-sidenav-toggle="#sidenav-toggle">
		<%= render 'layouts/tabs' %>
    <ul class="sidenav-menu">
      <li>
        <a href="/">
          <span class="sidenav-link-icon">
			<span class="fa fa-home" aria-hidden="true"></span>
          </span>
          <span class="sidenav-link-title">Inicio</span>
        </a>
      </li>
    </ul>
	</nav>
	<!-- Navigation bar -->
</header>

<div class="loading">
    <%= image_tag('preloader.gif', class:"loader") %>
</div>

<body style="margin-top: 55px;">
	<div class="container">
		<%= yield %>
	</div>
</body>
<div class="footer">© 2016 Living Company, Inc.</strong>.</div>

</html>
<script>
	$('[data-sidenav]').sidenav();
</script>

